html,body{height: calc(100vh-52px);width: 100%;}
.mh-friend-header-tab{background-color: #fff;}
.mui-control-content {background-color: #fff;}
.mui-control-content .mui-loading {margin-top: 50px;}
#mh-friend-list{height: 100%;width: 100%;background-color: #fff;margin-top: 10px;border-top:1px #ccc solid;}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell{padding-left: 0px!important;}
.mui-table-view-cell>a:not(.mui-btn){margin-left: 10px;}
.mh-friend-header{border-radius: 50%;}
.mh-badge-transparent{background-color: transparent!important;}
.mh-friend-slider-item{border-bottom: 0px solid transparent!important;}
