
@font-face {font-family: "iconfont";
src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/}

.iconfont {font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

.icon-comment:before { content: "\e696"; }

.icon-evaluate:before { content: "\e697"; }

.icon-footprint:before { content: "\e69d"; }

.icon-message:before { content: "\e6bc"; }

.icon-roundaddfill:before { content: "\e6d8"; }

.icon-roundadd:before { content: "\e6d9"; }

.icon-selectionfill:before { content: "\e6e1"; }

.icon-300:before { content: "\e65c"; }

.icon-301:before { content: "\e65d"; }

.icon-302:before { content: "\e65e"; }

.icon-303:before { content: "\e65f"; }

.icon-313:before { content: "\e669"; }

.icon-401:before { content: "\e66b"; }

.icon-402:before { content: "\e66c"; }

.icon-403:before { content: "\e66d"; }

.icon-404:before { content: "\e66e"; }

.icon-406:before { content: "\e670"; }

.icon-407:before { content: "\e671"; }

.icon-nanxingbiaoqian:before { content: "\e7a4"; }

.icon-xuesheng:before { content: "\e7c0"; }

.icon-nvxingbiaoqian:before { content: "\e7c5"; }

.icon-ios:before { content: "\e601"; }

.icon-anzhuo:before { content: "\e602"; }

.icon-faxian:before { content: "\e603"; }

.icon-liulanqi-IE:before { content: "\e604"; }

.icon-taobao:before { content: "\e605"; }

.icon-weibo:before { content: "\e606"; }

.icon-weibo1:before { content: "\e607"; }

.icon-weixin:before { content: "\e608"; }

.icon-zhifubao:before { content: "\e609"; }

.icon-qq:before { content: "\e60a"; }

.icon-fanzhuanjingtou:before { content: "\e872"; }

.icon-paizhao:before { content: "\e873"; }

.icon-xuanzhuanshouji:before { content: "\e879"; }

.icon-jianshen:before { content: "\e883"; }

.icon-dujia:before { content: "\e89a"; }

.icon-yijianfankui:before { content: "\e8a1"; }

.icon-huiyuan:before { content: "\e8a6"; }

.icon-reshui:before { content: "\e8a9"; }

.icon-guoneiyou:before { content: "\e8b6"; }

.icon-dijiaqushi:before { content: "\e8ca"; }

.icon-tuichu:before { content: "\e7c8"; }

.icon-nv:before { content: "\e660"; }

.icon-nan:before { content: "\e661"; }

.icon-zhongxing:before { content: "\e662"; }

.icon-fanhuitianchong:before { content: "\e690"; }

.icon-gengduotianchong:before { content: "\e691"; }

.icon-xialatianchong:before { content: "\e692"; }

.icon-shouqitianchong:before { content: "\e693"; }

.icon-huodong-:before { content: "\e60b"; }

.icon-dizhi:before { content: "\e60c"; }

.icon-ditumoshi:before { content: "\e60d"; }

.icon-dituzhaofang:before { content: "\e60e"; }

.icon-dingwei:before { content: "\e60f"; }

.icon-shoucang:before { content: "\e610"; }

.icon-lishiyouxi:before { content: "\e612"; }

.icon-bisai:before { content: "\e611"; }

.icon-cai:before { content: "\e6c5"; }

.icon-zan:before { content: "\e6c6"; }

.icon-ERP_mima:before { content: "\e663"; }

.icon-ERP_yanzhengma:before { content: "\e664"; }

.icon-new:before { content: "\e613"; }

.icon-star:before { content: "\e614"; }

.icon-hot:before { content: "\e615"; }

.icon-arrowup:before { content: "\e616"; }

.icon-arrowdown:before { content: "\e617"; }

.icon-link:before { content: "\e618"; }

.icon-schedule:before { content: "\e619"; }

.icon-chakan:before { content: "\e61a"; }

.icon-arrowleft:before { content: "\e61b"; }

.icon-arrowright:before { content: "\e61c"; }

.icon-localoffer:before { content: "\e61d"; }

.icon-repeat:before { content: "\e61f"; }

.icon-paihangbang:before { content: "\e67b"; }

.icon-huodong:before { content: "\e67c"; }

.icon-xinhaota:before { content: "\e61e"; }

.icon-zhinanzhen:before { content: "\e620"; }

.icon-dianhua:before { content: "\e643"; }

.icon-fenxiang:before { content: "\e648"; }

.icon-dianxiangan:before { content: "\e649"; }

.icon-gonggao:before { content: "\e64b"; }

.icon-saomiao:before { content: "\e657"; }

.icon-tongji:before { content: "\e665"; }

.icon-tongjibaobiao:before { content: "\e666"; }

.icon-xitongjiankong:before { content: "\e667"; }

.icon-xihuan:before { content: "\e668"; }

.icon-xiangmuguanli:before { content: "\e66a"; }

.icon-xiaoxi:before { content: "\e66f"; }

.icon-yijian:before { content: "\e672"; }

.icon-icon_addperson_fill:before { content: "\e8e6"; }

.icon-icon_addperson:before { content: "\e8e7"; }

.icon-icon_message:before { content: "\e8fd"; }

.icon-icon_wifi_fill:before { content: "\e90f"; }

.icon-icon_redpacket_fill:before { content: "\e913"; }

.icon-icon_tie:before { content: "\e914"; }

.icon-icon_sport:before { content: "\e936"; }

.icon-icon_C_unlink:before { content: "\e95c"; }

.icon-dingbu_tuichu:before { content: "\e621"; }

.icon-yonghu_tili:before { content: "\e622"; }

.icon-xiaoyu:before { content: "\e680"; }

.icon-qing:before { content: "\e681"; }

.icon-xiaoyu1:before { content: "\e682"; }

.icon-dayu:before { content: "\e683"; }

.icon-zhongyu:before { content: "\e684"; }

.icon-yin:before { content: "\e685"; }

.icon-qingzhuanyu:before { content: "\e686"; }

.icon-duoyun:before { content: "\e687"; }

.icon-503-copy:before { content: "\e688"; }

.icon-icon-:before { content: "\e623"; }

.icon-icon-1:before { content: "\e624"; }

.icon-icon-2:before { content: "\e625"; }

.icon-icon-3:before { content: "\e626"; }

.icon-icon-4:before { content: "\e627"; }

.icon-icon-5:before { content: "\e628"; }

.icon-icon-6:before { content: "\e629"; }

.icon-icon-7:before { content: "\e62a"; }

.icon-icon-8:before { content: "\e62b"; }

.icon-icon-9:before { content: "\e62c"; }

.icon-icon-10:before { content: "\e62d"; }

.icon-icon-11:before { content: "\e62e"; }

.icon-icon-12:before { content: "\e62f"; }

.icon-icon-13:before { content: "\e630"; }

.icon-icon-14:before { content: "\e631"; }

.icon-icon-15:before { content: "\e632"; }

.icon-icon-16:before { content: "\e633"; }

.icon-icon-17:before { content: "\e634"; }

.icon-icon-18:before { content: "\e635"; }

.icon-icon-19:before { content: "\e636"; }

.icon-icon-20:before { content: "\e637"; }

.icon-fuxuan:before { content: "\e638"; }

.icon-xinzeng:before { content: "\e639"; }

.icon-biye:before { content: "\e63a"; }

.icon-diannao:before { content: "\e63b"; }

.icon-dujia1:before { content: "\e63c"; }

.icon-dianshi:before { content: "\e63d"; }

.icon-fangyu:before { content: "\e63e"; }

.icon-gouwuche:before { content: "\e63f"; }

.icon-gongju:before { content: "\e640"; }

.icon-heitao:before { content: "\e641"; }

.icon-huihua:before { content: "\e642"; }

.icon-jiankang:before { content: "\e644"; }

.icon-jinqian:before { content: "\e645"; }

.icon-jingji:before { content: "\e646"; }

.icon-lanqiu:before { content: "\e647"; }

.icon-maikefeng:before { content: "\e64a"; }

.icon-miaozhunsheji:before { content: "\e64c"; }

.icon-shezhi:before { content: "\e64d"; }

.icon-shouji:before { content: "\e64e"; }

.icon-wendang:before { content: "\e64f"; }

.icon-xiaqi:before { content: "\e650"; }

.icon-xiangji:before { content: "\e651"; }

.icon-xinxi:before { content: "\e652"; }

.icon-xiuxian:before { content: "\e653"; }

.icon-yinle:before { content: "\e654"; }

.icon-youxi:before { content: "\e655"; }

.icon-yule:before { content: "\e656"; }

.icon-yuedu:before { content: "\e658"; }

.icon-yundong:before { content: "\e659"; }

.icon-user:before { content: "\e65a"; }

.icon-add-user:before { content: "\e65b"; }

.icon-remove-user:before { content: "\e673"; }

.icon-edit-user:before { content: "\e674"; }

.icon-setting-user:before { content: "\e675"; }

.icon-user-approval:before { content: "\e676"; }

.icon-user-list:before { content: "\e677"; }

.icon-role:before { content: "\e678"; }

.icon-remove-role:before { content: "\e679"; }

.icon-add-role:before { content: "\e67a"; }

.icon-setting-role:before { content: "\e67d"; }

.icon-edit-role:before { content: "\e67e"; }

.icon-role-list:before { content: "\e67f"; }

.icon-user-group:before { content: "\e689"; }

.icon-role-group:before { content: "\e68a"; }

.icon-permissions-user:before { content: "\e68b"; }

.icon-permissions:before { content: "\e68c"; }

.icon-edit-permissions:before { content: "\e68d"; }

.icon-add-permissions:before { content: "\e68e"; }

.icon-remove-permissions:before { content: "\e68f"; }

.icon-permissions-list:before { content: "\e694"; }

.icon-setting-permissions:before { content: "\e695"; }

